
mat-toolbar {
    font-size: 1em;
    background-color: var(--sys-primary-container);
    opacity: 0.6 !important; //so, none can override it
}

.active {
    background-color: var(--mat-option-selected-state-layer-color);
}