<main class="page-container">
  <img src="runing_man_generated.jpg" class="style-image">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>
        <h3>Register</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form-container" [formGroup]="registerForm">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username"/>
          <mat-error *ngIf="hasError('username')">{{ errorMsg('username', 'Username')}}</mat-error>
        </mat-form-field>
        <section class="horizontal-stack">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName"/>
            <mat-error *ngIf="hasError('firstName')">{{ errorMsg('firstName', 'First name')}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName"/>
            <mat-error *ngIf="hasError('lastName')">{{ errorMsg('lastName', 'Last Name')}}</mat-error>
          </mat-form-field>
        </section>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email"/>
          <mat-error *ngIf="hasError('email')">{{ errorMsg('email', 'Email')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password"/>
          <mat-error *ngIf="hasError('password')">{{ errorMsg('password', 'Password')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input matInput type="password" formControlName="confirmPassword"/>
          <mat-error *ngIf="hasError('confirmPassword')">{{ errorMsg('confirmPassword', 'Confirm Password')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Date of birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthday">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <section class="horizontal-stack">
          <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-radio-button value="M">Male</mat-radio-button>
            <mat-radio-button value="F">Female</mat-radio-button>
          </mat-radio-group>
        </section>
        <mat-checkbox style="text-align: start;" class="bottom-space">
          <button mat-button>Accept Terms & Conditions</button>
        </mat-checkbox>
        <mat-divider class="bottom-space"/>
        <section class="horizontal-stack">
          <button mat-flat-button (click)="onSubmit()">Register</button>
          <button mat-button color="accent">Help & feedback</button>
        </section>
      </form>
    </mat-card-content>
  </mat-card>
</main>