<main class="page-container">
  <img src="runing_man_generated.jpg" class="style-image">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>
        <h3>Register</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form-container">
        <section class="horizontal-stack">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput/>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput/>
          </mat-form-field>
        </section>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="enail"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input matInput type="password"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Date of birth</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <section class="horizontal-stack">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
          </mat-radio-group>
        </section>
        <mat-checkbox style="text-align: start;" class="bottom-space">
          <button mat-button>Accept Terms & Conditions</button>
        </mat-checkbox>
        <mat-divider class="bottom-space"/>
        <section class="horizontal-stack">
          <button mat-flat-button>Register</button>
          <button mat-button color="accent">Help & feedback</button>
        </section>
      </form>
    </mat-card-content>
  </mat-card>
</main>