<main class="page-container">
  <img src="runing_man_generated.jpg" class="style-image">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>
        <h3>Register</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form-container" (submit)="onSubmit(); $event.preventDefault()">
        <app-input-field displayName="Username" [(value)]="username" [errorMessage]="usernameError()"/>
        <section class="horizontal-stack">
          <app-input-field displayName="First Name" [(value)]="firstName" [errorMessage]="firstNameError()"/>
          <app-input-field displayName="Last Name" [(value)]="lastName" [errorMessage]="lastNameError()"/>
        </section>
        <app-input-field displayName="Email" [(value)]="email" [errorMessage]="emailError()"/>
        <app-input-field displayName="Password" type="password" [(value)]="password" [errorMessage]="passwordError()"/>
        <app-input-field displayName="Confirm Password" type="password" [(value)]="confirmPassword" [errorMessage]="confirmPasswordError()"/>
        <app-date-picker displayName="Date of birth" [(value)]="birthday" [errorMessage]="birthdayError()"/>
        <section class="horizontal-stack">
          <app-select-option [radioOptions]="radioOptions" [errorMessage]="genderError()"/>
        </section>
        <mat-checkbox style="text-align: start;" class="bottom-space" (change)="termsAndConditions.set($event.checked)">
          <button mat-button>Accept Terms & Conditions</button>
        </mat-checkbox>
        <mat-divider class="bottom-space"/>
        <section class="horizontal-stack">
          <button 
          mat-flat-button type="button" 
          (click)="onSubmit(); $event.stopPropagation();"
          [disabled]="errors() || !termsAndConditions() || isLoading()" [class.spinner]="isLoading()" >
          @if (!isLoading()) {Register}
        </button>
          <button mat-button color="accent">Help & feedback</button>
        </section>
      </form>
    </mat-card-content>
  </mat-card>
</main>