
.form-container {
    display: flex; 
    flex-direction: column;
}

.form-container > * {
    width: 100%;
}

.horizontal-stack {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.bottom-space {
    padding-bottom: 1em;
}

.right-margin {
    margin-right: 2em;
}