/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@use './stylesm3-theme';

@include mat.core();
html {
    box-sizing: border-box;
    @include mat.core-theme(stylesm3-theme.$light-theme);
    @include mat.button-theme(stylesm3-theme.$light-theme);
    @include mat.system-level-colors(stylesm3-theme.$light-theme);
    // @include mat.system-level-typography(my-theme.$light-theme);
}

* {
    box-sizing: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #777;
    border-top-color: #00000000;
    animation: spinner .8s linear infinite;
  }