<div style="display: flex; flex-direction: column; margin-top: 8rem; align-items: center;">
    <div 
style="text-align: center; display: inline; font-size: 20rem; line-height: 20rem; font-weight: lighter; color: #d4d4d4;">{{ errorCode }}</div>
<div 
style="text-align: center; display: inline; font-size: 5rem; line-height: 5rem; font-weight: lighter; color: #d4d4d4;">{{ errorType }}</div>
<div style="background-color: black; color: #FFF; width: 30rem; height: 5rem; padding: 1rem;">{{ errorMessage }}</div>
</div>